.App {
  text-align: center;
}

.header{
  background-color: #FFD5B8;
  text-align: center;
  padding-top: 20px;
  font-size: 20pt;
}

.banner{
  width: 75%;
  height: 75%;
  margin-left: 250px;
}

.statement{
  margin: 50px;
  font-weight: bold;
  font-size: 16pt;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
}

.card{
  margin-top: 25px;
}

.form{
  padding-top: 50px;
  padding-bottom: 50px;
}
.form p{
  font-weight: bold;
  text-align: center;
  font-size: 16pt;
  padding-top: 10px;
}

.footer{
  background-color:#FFD5B8 ;
  text-align: center;
  font-weight: bold ;
  margin-top: 20px;
  padding-bottom: 20px;
}


.footer p{
  padding-top: 10px;
}



@media (max-width: 768px){
  .banner{
    margin-left: 160px;
    margin-top:50px;
  }
  .banner img{
    width: 80%;
    height: 80%;
  }
  .statement{
    font-size: 14pt;
  }
  .card{
    margin-left: 50px;
  }
}

@media (max-width:600px){
  .banner{
    margin-left: 100px;
    margin-top:50px;
  }
  .statement{
    font-size: 12pt;
  }
  .card{
    margin-left: 50px;
  }

}






